body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-image {
  background-image: url('Zoom-Autonomous.png'); /* Replace 'path/to/your/image.jpg' with your file path */
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fixed-text,
.bottom-text {
  position: absolute;
  left: 7%;
  transform: translateX(0%);
  color: #422C2F;
  text-align: left;
}

.fixed-text {
  top: 10%;
}

.bottom-text {
  bottom: 30%;
}

.line {
  font-size: 100px;
  margin: 5px 0;
  line-height: 2; /* Adjust line height for better readability */
}

.line2 {
  font-size: 90px;
  margin: 0px 0;
  line-height: 1.9; /* Adjust line height for better readability */
}



.designation {
  font-size: 50px; /* Adjust font size for the designations */
  line-height: 1;
}
